**/target/
**/bin/
**/build
**/*-dev.*
**/logs/
**/secrets/
**/spring.factories

**/.metadata
**/.classpath
**/.project
**/.settings
**/.apt_generated
**/.factorypath
**/.springBeans
**/.sts4-cache

**/.dbeaver

**/.DS_Store


**/node_modules
**/dist
**/.vscode
**/.env.local
